body {
  font-size: 20px;
  line-height: 1.5em;
}


/* Increase line space when title spans multiple lines */
.title {
  line-height: 1.25em;
}


/* Use the code block style from a default R Markdown document */
pre {
  display: block;
  padding: 10px;
  margin: 0 0 10.5px;
  /*
  font-size: 14px;
  */
  line-height: 1.42857143;
  word-break: break-all;
  word-wrap: break-word;
  color: #333333;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  /* Override the shadow */
  box-shadow: none;
  border-radius: 5px;
}


/* To maintain background color after loading highlight.js. It uses #f8f8f8. */
.hljs {
  background:  #f5f5f5;
}


.article-meta {
  background-color: rgb(110, 46, 158, 0.5);
  border-radius: 25px;
}


a {
  color: black;
}


a:visited {
  color: rgb(110, 46, 158, 0.5);
}


footer a {
  background: #eee;
  padding: 5px;
  border-radius: 5px;
}
