/*
Custom themes for blog.jdblischak.com

https://rstudio.github.io/distill/website.html#theming
*/

.distill-site-nav {
  background-color: #543a54;
}

.distill-site-footer a {
  text-decoration: underline;
}

/*
This is the same color (#f5f5f5; white smoke) used in standard R Markdown code
chunks.
*/
code {
  background-color: RGB(245, 245, 245);
}
